<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Time Display</title>
        <link rel="stylesheet" href="#" media="screen" title="no title"  charset="utf-8">
        <script src="#"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="center">
                <h3>The Current Time and Date</h3>  
                <h1>{{ time }}</h1>
            </div><!-- end of center div -->
        </div><!-- end wrapper -->
    </body>
    
</html>

